# Лабораторная работа 1

## Общая информация

**Дата выдачи**: 05.09.2016

**Срок сдачи**: 19.09.2016 *(Но требуется обязательная демонстрация текущего прогресса преподавателю во время лабораторного занятия 12.09.2016)*

### О задании
Целью данного задания является формирование навыков работы с Jupiter Notebook-ами и библиотеками NumPy и Pandas путём решения набора задач. Выполнение задание заключается в редактировании данного ipython notebook-a (в части блоков с кодом на python) таким образом, чтобы были реализованы указанные в задании функции.

### Оценивание и штрафы
Каждая из задач имеет определенную «стоимость» (указана в скобках около задачи). Максимально допустимая оценка за работу — 10 баллов.

Сдавать задание после указанного срока сдачи нельзя. При выставлении неполного балла за задание в связи с наличием ошибок на усмотрение проверяющего предусмотрена возможность исправить задание на указанных в ответном письме условиях.

Задание выполняется САМОСТОЯТЕЛЬНО. «Похожие» решения считаются плагиатом и все задействованные студенты (в том числе те, у кого списали) не могут получить за него больше 0 баллов. Если вы нашли решение какого-то из заданий в открытом источнике, необходимо прислать ссылку на этот источник (скорее всего вы будете не единственным, кто это нашел, поэтому чтобы исключить подозрение в плагиате, необходима ссылка на источник). 

### Формат сдачи
** Устная защита выполненной лабораторной работы ОБЯЗАТЕЛЬНА! **

После успешной устной защиты переименуйте получившийся файл `*.ipynb` в соответствии со следующим форматом: *Username_Lab_01.ipynb*, где Username — ваша фамилия на латинице (например, `Pirshtuk_Lab_01.ipynb`) и отправьте этот файл электронной почтой по адресу `dzianis.pirshtuk+asa2016@yandex.by` c темой письма *Фамилия преподавателя - Лабораторная работа 1 - Фамилия Имя Отчество* (для обоих подгрупп). Подгруппа Атрохова Кирилла Георгиевича также ставит в копию адрес `atromail+asa2016@tut.by`. Это будет являться письменным отчетом о выполнении лабораторной работы.

## Numpy

***Во всех заданиях ниже запрещено использовать циклы.***

In [5]:
import numpy as np
import pandas as pd

**1. (0.5 балла)** Реализуйте функцию, принимающую на вход числа `N` и `k` и возвращающую `np.array` длины `N`, содержащий зацикленную последовательность от `1` до `k` (включительно). Например:
    
    print(cycle(10, 3))
    > array([1, 2, 3, 1, 2, 3, 1, 2, 3, 1])

In [6]:
def cycle(N, k):
    pass

**2. (0.5 балла)** Реализуйте функцию, принимающую на вход `np.array` размера `N` и возвращающую матрицу размера `(N + 1) x (N + 1)`, у которой над главной даигональю стоят элементы массива (остальные элементы должны быть нулевыми). Например:
    
    print(next_diagonal(np.arange(1, 3)))
    > array([[0, 1, 0],
             [0, 0, 2],
             [0, 0, 0]])

In [7]:
def next_diagonal(X):
    pass

**3. (0.5 балла)** Реализуйте функцию, принимающую на вход матрицу `X` и два массива `i` и `j` одинаковой длины и возвращающую вектор np.array, состоящий из последовательности элементов `[X[i[0], j[0]], X[i[1], j[1]], ..., X[i[N-1], j[N-1]]]`.

In [8]:
def get_elements(X, i, j):
    pass

**4. (0.5 балла)** Реализуйте функцию, принимающую на вход матрицу `X` и возвращающую минимальный нечетный элемент матрицы.

In [9]:
def min_odd(X):
    pass

**5. (1 балл)** Реализуйте функцию, принимающую на вход матрицу и некоторое число и возвращающую ближайший к числу элемент матрицы. Например:

    X = np.arange(0,10)
    v = 3.6
    print(nearest_value(X, v))
    > 4

In [10]:
def nearest_value(X, v):
    pass

## Pandas

Далее вам будет предложено ответить на вопросы по данным об авиарейсах в США за 2008 год. Обратите внимание, что функция pandas.read_csv умеет читать из архивов автоматически.

Описание датасета: http://stat-computing.org/dataexpo/2009/the-data.html

Загрузим данные файлов `2008_part.csv.bz2` и `airports.csv` из папки `data` в `pandas.DataFrame`-ы.

In [11]:
df = pd.read_csv('data/2008_part.csv.bz2')
airports = pd.read_csv('data/airports.csv', index_col='iata')

In [12]:
df.head()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,6588715,2008,12,14,7,1623.0,1141,1946.0,1506,YV,...,6.0,25.0,0,NaN,0,280.0,0.0,0.0,0.0,0.0
1,6179044,2008,11,16,7,1225.0,1228,1804.0,1759,US,...,5.0,20.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,3343103,2008,6,15,7,2134.0,2120,2340.0,2316,F9,...,5.0,19.0,0,NaN,0,14.0,0.0,10.0,0.0,0.0
3,1422756,2008,3,30,7,2012.0,1912,2059.0,2003,UA,...,6.0,8.0,0,NaN,0,0.0,0.0,0.0,0.0,56.0
4,7001683,2008,12,7,7,1840.0,1845,2010.0,2014,DL,...,6.0,21.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [13]:
airports.head()

,airport,city,state,country,lat,long
iata,,,,,,
00M,Thigpen,Bay Springs,MS,USA,31.953765,-89.234505
00R,Livingston Municipal,Livingston,TX,USA,30.685861,-95.017928
00V,Meadow Lake,Colorado Springs,CO,USA,38.945749,-104.569893
01G,Perry-Warsaw,Perry,NY,USA,42.741347,-78.052081
01J,Hilliard Airpark,Hilliard,FL,USA,30.688012,-81.905944

**1. (0.5 балла)** Какая из причин отмены рейса (CancellationCode) была самой частой (расшифровки кодов можно найти в описании данных)? A на какое максимальное время задерживали полет по этой причине?

**2. (0.5 балла)** Найдите среднее, минимальное и максимальное расстояние, пройденное самолетом.

**3. (1 балл)** Найдите рейс (FlightNum) с максимальной длиной перелетов. Уникален ли такой рейс?

**4. (1 балл)** Из какого аэропорта было произведено больше всего вылетов? В каком городе он находится?

**5. (1 балл)** Найдите для каждого аэропорта среднее время полета (AirTime) по всем вылетевшим из него рейсам. Какой аэропорт имеет наибольшее значение этого показателя?


**6. (1.5 балла)** Найдите самое популярное направление и сколько рейсов по нему совершено. Ответом является тройка `(Аэропорт отправления, аэропорт прибытия, количество рейсов)`

**7. (1.5 балла)** Найдите аэропорт, у которого наибольшая доля задержанных (DepDelay > 0) рейсов. Исключите при этом из рассмотрения аэропорты, из которых было отправлено меньше 1000 рейсов (подсказка: используйте функцию `filter` после `groupby`).